<div id="nav_bar">
	<div>
		<img id="brand_image" src="/images/wettangen_500.svg"><span id="brand_name">Wettanzen</span>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container-fluid">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
				<ul class="navbar-nav ">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							All plants
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/plantgrowthtypes" role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false">
							Plant Growth Types
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/plantgrowthtypes">See All Plants growth by type</a></li>
							<% if(isAdmin) {%>
								<li><a class="dropdown-item" href="/plantgrowthtypes/type">Add Plant growth by type</a>
								</li>
								<% } %>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/plantgrowthtypes" role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false">
							Plant Reproduction Types
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/plantreproduction">Plant Reproduction Types</a></li>
							<% if(isAdmin) {%>
								<li><a class="dropdown-item" href="/plantreproduction/type">Add Plant Reproduction
										Types</a>
								</li>
								<% } %>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/plantgrowthtypes" role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false">
							Plant Sun Requirements
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/plantsunlight">Plant Sun Requirement</a></li>
							<% if(isAdmin) {%>
								<li><a class="dropdown-item" href="/plantsunlight/type">Add Plant Sun Requirement</a>
								</li>
								<% } %>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="/plantgrowthtypes" role="button"
							data-bs-toggle="dropdown"
							aria-expanded="false">
							Plant Genus Species Types
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/planttypes">Plant Types</a></li>
							<% if(isAdmin) {%>
								<li><a class="dropdown-item" href="/planttypes/type">Add Plant Types</a>
								</li>
								<% } %>
						</ul>
					</li>

				</ul>
			</div>


		</div>

	</nav>
</div>