<% layout("./boilerplate/boilerplate.ejs") %>

	<div>
		<form method="post" action="/web/login">
			<input type="text" name="input[email]">
			<input type="password" name="input[password]">
			<button class="btn btn-danger">Submit</button>
		</form>

	</div>