<% layout("./boilerplate/boilerplate.ejs") %>

	<div class="">
		<h3>Add a New <%= header %>
		</h3>
		<form action="<%= route %>" method="POST">

			<div class="mb-3">
				<label id="name">Add Name of Plant Type</label>
				<input id="name" type="text" required name="input[name]">
			</div>
			<div class="mb-3">
				<label id="description">Add Description of Plant Type</label>
				<textarea type="text" name="input[description]" id="description"
					value="" style="width:200px;height:200px"></textarea>
			</div>

			<button class="btn btn-primary">Submit</button>
		</form>



	</div>